.not-found-page-panel {
  .card-surface();
  color: var(--main-panel-font-color);

  .not-found-page-header {
    color: var(--main-panel-font-color);
    font-weight: var(--font-weight-semibold);
  }

  .not-found-page-section {
    padding-bottom: 10px;
  }
}
