.test-run-compare-panel {
    background: var(--main-panel-background);
}

.test-run-compare-table {
    margin-bottom: var(--space-5);

    .execution-compare-icon {
        font-size: 20px;
        margin-left: var(--space-3);
        cursor: pointer;
        color: var(--link-color-1);
    }

    .rs-table-cell-content {
        padding: var(--space-2) var(--space-3);
    }
}
