.test-run-compare-panel {
  background: var(--main-panel-background);
}

.test-run-compare-table {
  margin-bottom: 20px;

  .execution-compare-icon {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: var(--link-color-1);
  }

  .rs-table-cell-content {
    padding: 8px 11px;
  }

  .table-pass {
    //background-color: var(--pass-color);
    color: var(--pass-color);
    font-weight: bold;
  }

  .table-fail {
    //background-color: var(--fail-color);
    color: var(--fail-color);
    font-weight: bold;
  }

  .table-error {
    //background-color: var(--error-color);
    color: var(--error-color);
    font-weight: bold;
  }
}