

.suite-table {
  width: 100%;
  margin-bottom: 1em;
}

.suite-table > thead > tr {
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  padding: .75rem;
}

.suite-table > thead th, td {
  padding: .75rem;
}

.suite-table .test-row {
   color: #fff;
   font-weight: bold;
   cursor: pointer;
   line-height: 1.5em;
   border-bottom: solid white 5px;
}

.suite-table .test-row > td {
   padding-bottom: 5px;
   padding-top: 5px;
   padding-left: 10px;
}

.suite-table .test-row .PASS {
   background-color: #98dc79;
}

.suite-table .test-row .SKIPPED {
   background-color: #ffd504;
}

.suite-table .test-row .FAIL {
   background-color: #c61410;
}

.suite-table .test-row .ERROR {
   background-color: #ff8000;
}

.suite-table .test-row span {
   padding-left: 1em;
}

.suite-table .test-row i {
   width: 10px;
   padding: 3px;
}

.suite-table > tbody:before {
    line-height:1em;
    content:"_";
    color:white;
    display:block;
}

.suite-table .suite-header {
  font-weight: bold;
}

.suite-result-PASS {
  font-weight: bold;
  color: #98dc79;
}

.suite-result-FAIL {
  font-weight: bold;
  color: #c61410;
}

.suite-result-ERROR {
    font-weight: bold;
    color: #ff8000;
}

.suite-result-SKIPPED {
  font-weight: bold;
  color: #ffd504;
}

.actions-wrapper {
  padding-left: 5px;
  padding-bottom: 1em;
  background: white;
}

.actions-row {
  /* padding-bottom: 3em; */
  /* background: white; */
}

.actions-table {
  width: 100%;
  background: #8080805e;
}

.action-description {
  border-top: 0px;
  font-weight: bold;
  background: white;
  cursor: pointer;
}

.action-description td {
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 5px;
}

.action-description td > span {
  padding-left: 15px;
}

.action-steps {
  padding-left: 5px;
  background: white;
}

.actions-table .PASS {
  /* color: green; */
}

.actions-table .FAIL {
  color: red;
}

.actions-table .SKIPPED {
  /* color: orange; */
}

.steps-table {
    border-collapse:separate;
    border:solid lightgray 1px;
    border-radius:10px;
    -moz-border-radius:6px;
    width: 100%;
    border-spacing: 0px;
}

/* .steps-table td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
} */

.steps-table th {
    background-color: #b9c9fe;
    border-top: none;
    padding: 3px;
}

.steps-table td:first-child, th:first-child {
     border-left: none;
}

.steps-table th:first-child {
   border-top-left-radius: 10px;
}

.steps-table th:last-child {
   border-top-right-radius: 10px;
}

.steps-table tr {
  background: #e8edff;
  line-height: 31px;
  font-size: 14px;
  font-weight: bold;
}

.steps-table tr td {
  padding-left: 10px;
  border-top: 1px solid #fff;
}

.steps-table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}
.steps-table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.steps-table .PASS {
  font-weight: bold;
  color: #98dc79
}

.screenshot-thumbnail {
  max-height: 80px;
  padding: 3px;
}


.expand-artfifacts-span {
  float: right;
  padding-right: 10px;
}


.table-test-details {
  border: none;
}
