.dashboard-builds-table {
    .rs-table-cell {
        background-color: var(--main-panel-background) !important;
    }

    .tests-runs-lock-icon {
        font-size: 1.5em;
    }

    .tests-runs-unlock-icon {
        font-size: 1.5em;
        opacity: 0.3;
    }

    .dashboard-builds-table-sub-text {
        font-size: 1em;
        color: var(--sub-table-body-secondary-font-color);
    }

    .dashboard-builds-table-date-icon {
        padding-right: 6px;
    }
}

.top-menu-stack {

    .dashboard-filter-button {

        .funnel-icon {
            font-size: 1.3em;
            color: var(--link-color-1);
        }
    }
}

.dashboard-header {
    padding-top: 20px;

    .chart-icon {
        position: absolute;
        font-size: 4em;
        left: 26px;
        top: 34px;
        opacity: 0.7;
    }

    .trend-box {
        color: var(--trend-box-font-color);

        .rs-panel-body {
            text-align: right;

            .value {
                font-size: 36px;
            }
        }
    }
}

.dash-row {
    margin-top: 30px;
}

.bg-gradient-red {
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%);
}

.bg-gradient-green {
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%);
}

.bg-gradient-blue {
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%);
}

.build-table-header-checkbox {
    top: -7px
}

.build-table-menu-badge {
    .rs-badge-content {
        right: 2px;
        top: 4px;
    }

    button {
        background-color: var(--rs-btn-default-hover-bg);
    }
}

.builds-table-menu {
    padding-top: 10px;
}

.builds-table-result-cell {
    padding-right: 10px;
    display: flex
}