@import '../components/pages/about/styles.less';
@import '../components/pages/dashboard/styles.less';
@import '../components/pages/test-run/styles.less';
@import '../components/pages/test-run-compare/styles.less';

:root {
    --body-background: #f5f8fa;
    --nav-background: white;
    --master-color-1: #FDBC6C;
    --master-color-2: #FFA538;
    --master-color-3: #9F9F9F;
    --master-color-4: #CDCDCD;

    --font-color-1: black;
    --font-color-2: grey;
    --font-color-3: white;

    --pass-color: #c3e6cb;
    --fail-color: #f69ea6;
    --skipped-color: #2485C1;
    --error-color: #f5b83f;

    --link-color-1: #ee8308;
    --link-color-2: #f1b87f;
}


//@media (prefers-color-scheme: dark) {
//    :root {
//        --body-background: #484848;
//        --nav-background: black;
//        --master-color-1: #FDBC6C;
//        --master-color-2: #FFA538;
//        --master-color-3: #9F9F9F;
//        --master-color-4: #CDCDCD;
//
//        --font-color-1: white;
//        --font-color-2: grey;
//
//        --pass-color: #98dc79;
//        --fail-color: #c61410;
//        --skipped-color: #2485C1;
//        --error-color: #ff8000;
//    }
//}

body {
    background: var(--body-background);
}

.main-sidebar {
    padding-top: 1.5em;
    background-color: var(--nav-background);
    display: flex;
    flexDirection: 'column';
    //height: 1600px;

    .sidebar-header {
        padding: 3px 2px 3px 2px;
        height: 60px;
        overflow: hidden;
        white-space: nowrap;

        .sidebar-angles-icon {
            height: 50px;
            display: inline;
            margin-top: -3px;
        }

        .sidebar-angles-text-icon {
            height: 55px;
            padding-left: 6px;
            vertical-align: center;
            display: inline;
        }
    }

    .rs-sidenav-item {
        color: var(--font-color-1);
    }
}

// modifying the default rsuite table
.rs-table {
    background-color: transparent;

    .rs-table-row-header {
        background-color: transparent;

        .rs-table-cell-content {
            background-color: var(--master-color-1);
            color: var(--font-color-3);
            font-weight: bold;
            font-size: 1.1em;
        }

        .rs-table-cell-first {
            border-top-left-radius: 7px;
        }
        .rs-table-cell-last {
            border-top-right-radius: 7px;
        }
    }

    .rs-table-body-row-wrapper {

        .rs-table-row:last-child {
            .rs-table-cell-first {
                border-bottom-left-radius: 7px;
            }

            .rs-table-cell-last {
                border-bottom-right-radius: 7px;
            }
        }
    }
}

// change the default rsuite link
a {
    color: var(--link-color-1);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--link-color-2);
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

.main-content {

}

