.team-settings-page {
    padding: 20px;

    .team-settings-panel {
        background-color: var(--main-panel-background);
        color: var(--main-panel-font-color);
        border: none;
    }

    .team-settings-panel-header {
        color: var(--main-panel-font-color);
        font-weight: bold;
    }

    .team-settings-section-title {
        color: var(--main-panel-font-color);
    }

    .team-settings-components-help {
        margin-bottom: 10px;
    }

    .team-settings-existing-components {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }
}
