.execution-metrics-panel {
    border: none;
    margin: 10px;
}

.metrics-main {
    margin-top: 30px;
}

.execution-metrics-chart-panel {
    background-color: var(--sub-panel-background);

    .rs-panel-header {
        color: var(--sub-panel-font-color);
        font-weight: bold;
    }
}

.execution-metrics-summary-table {

    .unique-tests-info-icon {
        position: fixed;
        top: 6px;
        padding-left: 10px;
        font-size: 1.4em;
        cursor: pointer;
    }
}