.metrics-main {
    margin-top: var(--space-6);
}

.execution-metrics-chart-panel {
    background-color: var(--sub-panel-background);

    .rs-panel-header {
        color: var(--sub-panel-font-color);
        font-weight: var(--font-weight-bold);
    }
}

.execution-metrics-summary-table {
    .unique-tests-info-icon {
        position: relative;
        top: 0;
        padding-left: var(--space-2);
        font-size: 1.4em;
        cursor: pointer;
    }
}
