.screenshot {
  max-width: 80%;
  /* max-height: 100%; */
  border: 1px solid #ddd;
  border-radius: 4px;
}

.active-thumbnail {
  border: 2px solid red;
}

.thumbnail-card {
   max-width: 12em;
   min-width: 12em;
}
.card-active {
    border: 1px solid red;
}

.thumbnail-card .card-body {
  padding: 0px;
}

.thumbnail-card-text {
  font-size: small;
  text-align: center;
  padding: 2px;
  font-weight: bold;
}

.card-text-active {
  color: red;
  font-weight: bold;
}

.card-deck-build-thumbnails {
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #b5a5a53b;
}

.card-deck-history {
  align-items: center;
  justify-content: left;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #b5a5a53b;
}

.card-deck-history .card-body {
  padding: 0px;
}

.card-deck-history .card-footer {
  padding: 4px;
}
.screenshotCard {
  max-width: 22em;
  min-width: 22em;
  margin: 1em;
}

.screenshot-thumbnail-history {
  width: 200px;
}


.image-page-holder {
  padding: 2em;
  overflow: scroll;
}

.screenshot-modal {
  max-width: 95%;
}

.modal-content {
  min-height: 50%;
}

.nav-tabs {
  padding-left: 10px;
  border-bottom: 0px;
}

.nav-link.active {
  background: #b5a5a53b !important;
  border-bottom: 0px;
}

.tab-content {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  background: #b5a5a53b;
}

.table-screenshot-details {
  font-size: 12px;
  min-width: 20em;
  max-width: 25em;
}

.table-screenshot-details thead {
  background: lightgray;
}

.table-screenshot-history-details {
  font-size: 12px;
  margin-bottom: 3px;
}
.table-screenshot-history-details td {
  border: 0px;
}
