.about-page-panel {
  .card-surface();
  color: var(--main-panel-font-color);

  .about-page-header {
    color: var(--main-panel-font-color);
    font-weight: var(--font-weight-semibold);
  }

  .about-page-section {
    padding-bottom: 10px;
  }

  .about-page-section-table {
    padding-top: 10px;
  }
}