/*.customDatePickerWidth,*/
/*.customDatePickerWidth > div.react-datepicker-wrapper,*/
/*.customDatePickerWidth > div > div.react-datepicker__input-container*/
/*.customDatePickerWidth > div > div.react-datepicker__input-container input {*/
/*    width: 100%;*/
/*}*/

.date-picker-surround {
    display: flex;
}

.team-span {
    padding-right: 10px;
    line-height: 3em;
    font-weight: bold;
}

.metrics-span {
    padding-left: 30px;
    padding-right: 10px;
    line-height: 3em;
    font-weight: bold;
}

.metrics-date-picker{
    float: left;
}

.metrics-grouping-period-select {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.DayPicker_transitionContainer {
    padding-bottom: 37px;
    box-sizing: content-box;
}
