
.metrics-form-group {
    max-width: 17%;
    line-height: 20px;
}

.metrics-form-group-period {
    width: 300px;
    max-width: 300px;
    line-height: 20px;
}

.metrics-date-picker{
    float: left;
}

.metrics-grouping-period-select {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    max-height: 48px;
    height: 48px;
}

.DayPicker_transitionContainer {
    padding-bottom: 37px;
    box-sizing: content-box;
    width: 100%;
}
