.suite-table-panel {
  color: var(--font-color-3);
  padding: 20px 0 10px 0;

  .rs-suite-table-header {
    background-color: #FD841F;
    padding: 7px;
    border-radius: 5px 5px 0 0;
  }

  .rs-suite-table-body {
    //background-color: var(--body-background);
    padding: 10px 10px 10px 20px;
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--master-color-1);
    border-top: none;

    .test-row {
      padding: 10px 0px;
    }

    .actions-row {
      padding: 10px 20px;
      border-radius: 5px;
      background-color: var(--body-background);

      .action-description {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }

  .field-label {
    font-weight: bold;
  }

  .action-icon {
    font-size: 1.2em;
    cursor: pointer;
    margin-right: 10px;
    color: var(--link-color-1);
  }

  .execution-icon {
    font-size: 1.5em;
    cursor: pointer;
    color: var(--link-color-1);
  }

  .execution-history-icon {
    font-size: 1.5em;
    cursor: pointer;
  }

   .expand-all-icon {
     font-size: 1.5em;
     cursor: pointer;
   }

  .suite-menu-div {
    float: right;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: -8px;
  }

  .suite-table-panel-header-row {
    color: var(--font-color-1);
    font-size: 1.2em;
    padding: 6px;
  }
}
