
.test-run-compare-panel {
  background: var(--main-panel-background);
}

.test-run-compare-table {
  margin-bottom: 20px;

  .table-pass {
    //background-color: var(--pass-color);
    color: var(--pass-color);
  }
  .table-fail {
    //background-color: var(--fail-color);
    color: var(--fail-color);
    font-weight: bold;
  }
  .table-error {
    //background-color: var(--error-color);
    color: var(--error-color);
    font-weight: bold;
  }
}
