.screenshot-viewer-metrics-panel {
  background-color: var(--main-panel-background);
  color: var(--main-panel-font-color);
  border: none;
  margin-top: var(--space-5);

  .rs-panel-title {
    color: var(--main-panel-font-color);
  }
}

.screenshot-view-or-tag-input-label {
  color: var(--select-picker-label-color);
}

.screenshot-view-or-tag-input {
  width: 400px;
}

.number-of-days-picker,
.platform-picker {
  min-width: 200px;
}

.screenshot-card-library {
  .table-screenshot-history-details {
    color: var(--sub-panel-secondary-font-color);
    background: var(--sub-panel-background);
  }
}
