
.screenshot-library-panel {
  background-color: var(--panel-background);

  .screenshot-library-form {
    max-width: 800px;
  }

  .rs-form-control-label {
    font-weight: bold;
  }

  .screenshot-library-form-or {
    position: relative;
    top: 2em;
    font-weight: bold;
  }

  .screenshot-form-second-row {
    margin-top: 2em;
  }

  .number-of-days-picker {
    min-width: 200px;
  }
  .platform-picker {
    min-width: 200px;
  }
}

